%p#notice= notice

%p
  %b Name:
  = @team.name
%p
  %b Description:
  = @team.description
%p
  %b Members:
  = @team.members
%p
  %b Image url:
  = image_tag(@team.image_url)

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
