= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Event Name"
    = f.text_field :name
  .field
    = f.label "Current Team Number (starting with 0 as the first team)"
    = f.text_field :current_team
  .field
    = f.label "Status: start OR stop"
    = f.text_field :status
  .field
    = f.label "Time in seconds to be shown on client"
    = f.text_field :time
  .actions
    = f.submit 'Save'
