!!!
%html
  %head
    %title Hackerdeck Client
    = stylesheet_link_tag    "client", :media => "all"
    = javascript_include_tag "hackerdeck_admin"
    = csrf_meta_tags

  %body
    #navigation-container.navbar.navbar-inverse.navbar-fixed-top

    %div.container.outer-container
      #page-container.page-container
        = yield

:javascript
  window.event_id = "#{@event.id}";