%h1 Listing events

%table.table.table-hover
  %tr
    %th Name
    %th Current Team
    %th Status
    %th Time
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.current_team
      %td= event.status
      %td= event.time
      %td= link_to 'Show', event_teams_path(event)
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
