%h1 Hackathon Teams

%table.table.table-hover
  %tr
    %th Name
    %th Description
    %th Members
    %th
    %th Event Name
    %th
    %th

  - @teams.each do |team|
    %tr
      %td= link_to team.name, team_path(team)
      %td= team.description
      %td= team.members
      %td= link_to image_tag(team.image_url), team_path(team)
      %td= team.event.name
      %td= link_to 'Edit', edit_team_path(team)

%br

= link_to 'New Team', new_team_path
